.signin-section-container {
  height: 100%;
  width: 50%;
}

.signin-section-content {
  padding-top: 40%;
}

.signin-section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.signin-section-sign-up {
  margin-top: 15px;
  font-size: 14px;
}

.span-text {
  font-weight: bold;
  cursor: pointer;
  color: brown;
}
