.scoreboard-page {
  height: 100%;
  background: whitesmoke;
}

.scoreboard-back-button {
  position: absolute;
  cursor: pointer;
}

.scoreboard-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ScoreboardTeam css */
.scoreboard-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  height: 60%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.scoreboard-team-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
  top: -60px;
}

.scoreboard-medal {
  position: relative;
  top: -60px;
  height: 100px;
  width: 100px;
}

.scoreboard-team-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.scoreboard-team-player-cards {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

/* Scoreboard player css */
.scoreboard-player {
  display: flex;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.scoreboard-player-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.scoreboard-player-username {
  font-family: 'Roboto', sans-serif;
  color: #474747;
  font-weight: bold;
  font-size: 16px;
  margin-left: 8px;
}
