.button-settings {
  width: 210px;
  height: 27px;
  background-color: var(--primary-color);
  color: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}

.button-settings:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: whitesmoke;
}
.save-button {
  margin-top: 30px;
  background-color: var(--primary-color);
  padding: 10px;
  font-weight: 1000;
  color: white;
  width: 300px;
  border-radius: 8px;
  border-style: none;
  outline: none;
  cursor: pointer;
}
