.profile-button {
  float: right;
  text-align: right;
}

.profile-image {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.profile-image:hover {
  cursor: pointer;
}

.profile-menu-bar {
  width: 270px;
  padding: 10px;
  text-align: left;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.profile-menu-bar-line {
  border: solid black 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: rgba(128, 128, 128, 0.425);
  opacity: 0.8;
}
.profile-menu-bar-settings-button {
  text-align: center;
}
.profile-menu-bar-signout-button {
  text-align: center;
}
