/* Chat css */
.chat-main-container {
  width: 100%;
  overflow: auto;
}

/* Chat css */
.chat-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.chat-messages-container {
  height: 100%;
  overflow: auto;
}

.chat-input {
  bottom: 0;
  margin: 5px 0px;
  width: 100%;
}

/* Chat bubble css */
.chat-bubble-container {
  display: flex;
  padding: 10px;
}

.chat-bubble-user-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.chat-bubble-message-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.chat-bubble-sender {
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.chat-bubble-chat-message {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
