.main-button {
  background-color: var(--harley-davidson-orange);
  border: solid 1px var(--harley-davidson-orange);
  color: white;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
  transition: all 0.3s ease-in-out 0s;
}

.main-button:hover {
  background-color: #ffffff;
  color: black;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}
