/* All buttons styling */
.btn {
  border: none;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
}

.btn:hover {
  background-color: whitesmoke;
  color: var(--primary-color);
}

.btn:focus {
  outline: 0;
}

.btn:active {
  box-shadow: none;
}

/* Button styles options */

.btn--primary--normal {
  background-color: var(--primary-color);
}

.btn--primary--logout {
  background-color: var(--log-out);
}

/* Button size options */
.btn--small {
  width: 100px;
  height: 30px;
}

.btn--medium {
  width: 210px;
  height: 30px;
}

.btn--large {
  width: 290px;
  height: 30px;
}
