.game-start-button {
  width: 280px;
  height: 100px;
  background-color: var(--harley-davidson-orange);
  border: 0;
  border-radius: 5px;
  font-size: 200%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: whitesmoke;
  transition-duration: 0.2s;
  font-family: 'Rowdies', cursive;
}

.game-start-button:hover {
  background-color: whitesmoke;
  color: var(--harley-davidson-orange);
  transition-duration: 0.2s;
}

.game-start-button:active {
  box-shadow: 0 0px 0px;
}
