.dashboard {
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

/************************************/
/*********** Body CSS ***************/
/************************************/
.dashboard-body {
  margin-top: 75px;
  padding: 50px;
  height: 460px;
  width: 100%;
}
.dashboard-body-left {
  float: left;
}
.dashboard-body-right {
  float: right;
}

.dashboard-text-heading {
  margin-top: 50px;
  color: rgba(128, 128, 128, 0.877);
  font-size: 40px;
}
.dashboard-play-body {
  display: flex;
  flex: wrap;
  width: auto;
  margin-top: 20px;
}
.dashboard-play-friends {
  margin-right: 10px;
  float: left;
  width: 320px;
}

.dashboard-play-random {
  margin-right: 10px;
  float: right;
  width: 320px;
}

.dashboard-image {
  width: 420px;
  height: 400px;
}

.dashboard-link-share-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/************************************/
/*********** Footer CSS *************/
/************************************/
.dashboard-footer {
  text-align: center;
  height: 50px;
}
