.dashboard {
  margin: auto;
}
.dashboard-body {
  /*TODO: Change this height later*/
  height: 87.6vh;
  width: 100%;
}

.dashboard-left {
  position: absolute;
  display: flex;
  height: 87.6vh;
  width: 50%;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.dashboard-left-input-container {
  display: flex;
  margin-top: 20px;
}

.dashboard-background {
  position: absolute;
  height: 86.6vh;
  width: 100%;
  background: rgba(var(--primary-color-rgb), 0.15);
  z-index: 0;
}
.dashboard-background svg {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.dashboard-background img {
  position: absolute;
  height: 550px;
  width: 550px;
  z-index: 2;
  right: 0;
  bottom: 10px;
}
