.solution-header {
  background-color: #dd2c00;
  color: white;
  height: 30px;
  padding: 5px;
}
.solution-content {
  background-color: white;
  height: 515px;
  margin: 10px;
}

.solution-body {
  margin: 10px;
  border-style: solid;
}
