<meta charset="UTF-8">
<title>Bucle</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; text-align: center; }
</style>
<!DOCTYPE html>
<html lang="en">

<body class="container">



<main>
    <div class="jumbotron">
        <h1 style="color:blue;">CodeRoyale</h1>
        <p><%= status %></p>
        <p><%= content %></p>
        <a href="<%= url %>"> <%= page %> </a>
    </div>
</main>
</body>
</html>