<meta charset="UTF-8">
<title>CodeRoyale</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body { padding-top:50px; text-align: center;}
    input { margin-top: 10px; } 
    button { margin-top: 10px; }
</style>
<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <main>
      <div class="jumbotron ">
        <h1 style="color:blue;">CodeRoyale</h1>
        <p>Email verification failed link expiried</p>
        <form class="form-signin" action="<%= url %>" method="post">
         <h2 class="form-signin-heading col-4">Resend Link</h2>
         <input type="email" id="email" name="email" class=
           "form-control" placeholder="Email address" required="">
         <input type="password" id="password" name="password" 
           class="form-control col-4" placeholder="Password" required="">
         <button class="btn btn-lg btn-primary btn-block col-4" 
           type="submit">Resend</button> 
          <br> 
        </form>
      </div>
    </main>
  </body>
</html>