<style type="text/css">
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
    .two-column {
        text-align: center;
        font-size: 0;
    }
    .two-column .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    .contents {
        width: 100%;
    }
    .two-column .contents {
        font-size: 14px;
        text-align: left;
    }
    .two-column img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }
    .two-column .text {
        padding-top: 10px;
    }
    .inner {
        padding: 10px;
    }
    table {
        border-spacing: 0;
        color: #333333;
        font-family: Arial, sans-serif;
    }
  </style>
  
  <wrapper class="header">
    <container>
      <row class="collapse">
        <columns small="6">
        </columns>
      </row>
    </container>
  </wrapper>
  
  <container>
  
    <row>
      <columns small="12" >
        
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:0px solid #e8e7e5; border-right:0px solid #e8e7e5; border-bottom:0px solid #e8e7e5; padding: 10px" bg="#FFFFFF">
          
          <div width="350" height="150" align="center" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 50%;">
            <a style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff" class="button_link">
                <img src="http://www.pickmaid.com/dubai/assets/images/success-icon.png" width="60" height="60" style="padding-top:5px" alt="" border="0"/>
            </a>
          </div>

          <tr>
              <td align="center" style="padding:0px 40px 40px 40px"><p style="color:#262626; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">Hello! <br> <%= name %></p>
                  <b style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                  Welcome to CodeRoyale!!!</b><br/>
                  to activate your account and enjoy CodeRoyale click on verify</br>
                  
                  <br />
               </p></td>
          </tr>
          <tr style="margin-bottom: 20px">
              <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                      <tr>
                          <td width="250" height="60" align="center" bgcolor="#2f9780" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                              <form action="<%= url %>" method="POST">

                              <button type="submit" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:24px; font-family: Arial, sans-serif; color: #ffffff" class="button_link">Verify
                              </button>
                              </form>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
        </table>
      </columns>
    </row>
    
  </container>