.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #dd2c00;
}

.tabs > li {
  margin: 0 1em;
  padding: 0.5em 1em;
}

.tab-current {
  color: #dd2c00;
  background-color: white;
  font-weight: bold;
  border: 2px solid #dd2c00;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  top: 2px;
}

.tab-label {
  cursor: pointer;
}
