.google-custom-button {
  border: none;
  color: #ffffff;
  background-color: #cd4620;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 250px;
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
}

.google-custom-button:focus {
  outline: 0;
}

.google-custom-button:active {
  box-shadow: none;
}

.google-icon {
  vertical-align: middle;
  font-size: 24px;
  margin-right: 10px;
}
