.intro-container {
  display: flex;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.intro-separator {
  flex: 2;
}

.intro-image {
  width: 650px;
  height: 650px;
  margin: auto;
}

.intro-text-container {
  margin: auto;
}

.intro-heading {
  margin-bottom: 16px;
  font-size: 43px;
  font-weight: bold;
}

.intro-text {
  margin-bottom: 20px;
  font-size: 22px;
}
