.arena-body {
  display: flex;
  padding: 10px;
  z-index: 1;
}

.arena-page {
  background-color: #f5f8f8;
  margin: auto;
  height: 100%;
}

.arena-page-loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.left-container {
  flex: 2;
}

.right-container {
  flex: 2;
}

.arena-seperator {
  flex: 1;
}

.button-container {
  float: right;
  margin: 10px;
}

/* Problem css */
.problem-header {
  background-color: #dd2c00;
  color: white;
  height: 30px;
  padding: 3px;
  padding-left: 4px;
  display: flex;
}

.problem-content {
  background-color: white;
  margin: 10px;
  overflow: auto;
  height: 310px;
}

.problem-body {
  margin: 10px;
  border-style: none;
  border-width: 0.5px;
  box-shadow: 0px 0px 10px grey;
  border-color: grey;
}

/* Solution css */
.solution-header {
  display: flex;
  background-color: #dd2c00;
  color: white;
  height: 30px;
  padding: 3px;
  z-index: 3;
  padding-left: 4px;
}
.solution-content {
  background-color: white;
  height: 520px;
  z-index: 2;
}

.solution-body {
  margin: 10px;
  border-style: none;
  border-width: 0.5px;
  box-shadow: 0px 0px 10px grey;
  border-color: grey;
}

.solution-heading-right {
  margin-left: 190px;
  flex: 1;
  display: flex;
  padding-left: 10px;
}

.solution-title {
  flex: 5;
}

.ide-options-popup {
  background-color: white;
  width: 100px;
}

.ide-options-row {
  padding: 5px;
}

.ide-options {
  padding-left: 5px;
}

.language-options {
  color: black;
  outline: none;
}
