:root {
  --arena-left-width: 78%;
}

.arena {
  background: whitesmoke;
}

.arena-body {
  display: flex;
}

.arena-side-bar-header {
  display: flex;
  margin: 10px;
}

.arena-left {
  width: var(--arena-left-width);
  padding: 20px;
}

.arena-right {
  width: calc(100% - var(--arena-left-width));
  position: fixed;
  right: 0;
  height: 100vh;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.arena-profile {
  padding: 5px 0px 5px 10px;
  display: flex;
  align-items: center;
}
.arena-profile-name {
  font-size: 20px;
  margin-left: 10px;
}
.arena-divider {
  width: 100%;
  border: solid var(--primary-color) 2px;
  margin: 5px 0px 5px 0px;
}
.arena-question-status {
  height: 200px;
}

/*Problem.css*/

.problem {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  background: white;
}
.problem-title {
  font-size: 30px;
}
.problem-code {
  font-size: 16px;
}
.problem-heading {
  font-size: 18px;
}
