.signup-page {
  display: flex;
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

/* Left section for sign up */
.left-signup-container {
  height: 100%;
  width: 50%;
  background-color: #edb3a4;
}

.left-signup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left-signup-image {
  height: 100%;
  width: 500px;
}

/* Sign up section */
.signup-section-container {
  height: 100%;
  width: 50%;
}

.signup-section-content {
  padding-top: 40%;
}

.signup-section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-section-sign-up {
  margin-top: 15px;
  font-size: 14px;
}

.signup-auth-separator {
  padding: 5px;
}

.span-text {
  font-weight: bold;
  cursor: pointer;
  color: brown;
}
