.signup-page {
  display: flex;
  background-color: #f5f8f8;
}

/* Left section for sign up */
.left-signup-container {
  height: 100vh;
  width: 100vh;
  background-color: #edb3a4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sign up section */
.signup-section-container {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-section-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.signup-section-sign-up {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-section-password-btn {
  margin-top: 10px;
}

.signup-auth-separator {
  padding: 5px;
}

.span-text {
  font-weight: bold;
  cursor: pointer;
  color: brown;
}
