.options-header {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.options-input {
  height: 30px;
  font-size: 20px;
  padding: 5px;
  background-color: #eaecee;
  border-style: none;
}
