.team-card {
  width: 260px;
  background-color: white;
  margin: 30px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.team-card-name {
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}

.team-card-progress {
  margin: 0 7px 0 7px;
}

.user-card {
  margin: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  background: rgba(var(--primary-color-rgb), 0.1);
}
.user-card-image {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin: 5px;
}
.user-card-text {
  margin-left: 10px;
  font-size: medium;
}
.team-card-button-container {
  text-align: center;
}
.team-card-button {
  width: 140px;
  margin-bottom: 10px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.team-card-button:focus {
  outline: 0;
}
.team-card-button:hover {
  color: var(--primary-color);
  background-color: whitesmoke;
}
.team-card-button:active {
  box-shadow: none;
}
