.settings-title {
  margin-left: 180px;
  font-size: 30px;
  padding-bottom: 80px;
}

.options-header {
  margin-left: 180px;
  font-size: 20px;
}

.options-input {
  height: 40px;
  margin-left: 180px;
  font-size: 20 px;
  padding-bottom: 40px;
  background-color: yellow;
}

.save-button {
  margin-top: 30px;
  background-color: #2185d0;
  padding: 10px;
  font-weight: 1000;
  color: white;
  margin-left: 180px;
  width: 300px;
  border-radius: 8px;
  border-style: none;
}
