.settings-body-container {
  margin-left: 80px;
  margin-right: 80px;
}

.profile-settings {
  height: 100%;
  background-color: #f5f8f8;
}

/* Settings body css */
.settings-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.settings-image {
  float: right;
  margin-top: 20px;
  width: 400px;
  height: 400px;
}

.settings-separator {
  flex: 2;
}

.settings-forms {
  margin-top: 50px;
  float: left;
}
.settings-container {
  display: flex;
}

.settings-save-button {
  margin-top: 30px;
}
