.left-section-container {
  height: 100%;
  width: 50%;
  background-color: #edb3a4;
}

.left-section-content {
  padding-top: 20%;
}

.left-section-title {
  font-weight: bold;
  font-size: 40px;
  color: #6b554f;
}

.left-section-text {
  font-size: 20px;
  color: #6b554f;
}
