.left-signup-container {
  height: 100%;
  width: 50%;
  background-color: #edb3a4;
}

.left-signup-content {
  padding-top: 20%;
}

.left-signup-title {
  font-weight: bold;
  font-size: 40px;
  color: #6b554f;
}

.left-signup-text {
  font-size: 20px;
  color: #6b554f;
}
