.header-container {
  display: flex;
  background-color: white;
  color: black;
}

.header-links {
  flex: 2;
}

.header-logo h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
}

.popup-close-button {
  margin-top: 20px;
}

.popup-close-para {
  margin-bottom: 20px;
}
