.login-page {
  display: flex;
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

/* Left section css for login */
.left-login-container {
  height: 100%;
  width: 50%;
  background-color: #edb3a4;
}

.left-login-content {
  padding-top: 20%;
}

.left-login-title {
  font-weight: bold;
  font-size: 40px;
  color: #6b554f;
}

.left-login-text {
  font-size: 20px;
  color: #6b554f;
}

/* login secton */
.login-section-container {
  height: 100%;
  width: 50%;
}

.login-section-content {
  padding-top: 40%;
}

.login-section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-section-sign-up {
  margin-top: 15px;
  font-size: 14px;
}

.login-auth-separator {
  padding: 5px;
}

.span-text {
  font-weight: bold;
  cursor: pointer;
  color: brown;
}
