.login-page {
  display: flex;
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

/* Left section css for login */
.left-login-container {
  height: 100%;
  width: 50%;
  background-color: #edb3a4;
}

.left-login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left-login-image {
  height: 100%;
  width: 500px;
}

/* login secton */
.login-section-container {
  height: 100%;
  width: 50%;
}

.login-section-content {
  padding-top: 40%;
}

.login-section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-section-sign-up {
  margin-top: 15px;
  font-size: 14px;
}

.login-auth-separator {
  padding: 5px;
}

.span-text {
  font-weight: bold;
  cursor: pointer;
  color: brown;
}

/* Close button for left login section */
.left-login-close {
  color: brown;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
  font-size: 24px;
}
