.lobby {
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

.lobby-body {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*ChooseRoomCard.css*/
.choose-room {
  width: 500px;
  height: 280px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
}
.choose-room-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose-room-user-details {
  text-align: center;
}
.choose-room-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px;
}
.choose-room-username {
  font-size: medium;
}
.choose-room-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
}
.choose-create-room-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.choose-join-room-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*CreateRoomView.css*/
.create-room {
  display: flex;
}
.create-room-drop-item {
  margin-bottom: 10px;
  padding-left: 8px;
}
.create-room-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-room-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*JoinRoomView.css*/
.join-room-join-input-container {
  margin-top: 10px;
}

.join-room-join-input {
  border: solid black 1px;
  height: 27px;
  width: 230px;
  border-radius: 2px;
  background-color: whitesmoke;
  border-color: gray;
  font-size: medium;
  padding: 5px;
  margin-top: 7px;
}
.join-room-join-input:focus {
  outline: none;
}

.join-room-join-button-container {
  text-align: center;
  margin-top: 10px;
}
