/* VetoMain */
.veto-page {
  margin: auto;
  height: 100%;
}

.veto-page-loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.veto-confirm-vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(250, 250, 242);
}

.veto-section {
  display: flex;
}

.veto-question-cards {
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* VetoBody */
.veto-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.veto-body-loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.veto-body-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.veto-right {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  height: 100%;
  width: 28%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
