.settings-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.settings-image {
  float: left;
  width: 400px;
  height: 400px;
}
.settings-forms {
  margin-top: 50px;
  float: left;
}
.settings-container {
  display: flex;
}

.settings-save-button {
  margin-top: 30px;
}
