.auth-button {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  width: max-content;
  padding: 8px 30px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.auth-button:hover {
  background-color: #c42700;
  color: #e8e8e8;
}
