:root {
  --border-radius-card: 0px 15px 0px 15px;
  --margin-team-member-card: 10px;
  --width-team-member-card: 230px;
  --width-team-card: calc(
    var(--width-team-member-card) + 3 * var(--margin-team-member-card)
  );
  --width-left-section: 23%;
  --border-shadow-card: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.room {
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

.room-body {
  display: flex;
  flex: 2;
}

.room-left-section {
  background-color: white;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
  width: var(--width-left-section);
}

.room-line {
  border: solid gray 0.5px;
  opacity: 0.3;
  margin-right: 2.5px;
  margin-left: 2.5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
}

.room-right-section {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - var(--width-left-section));
}

/*CreateTeamView.css*/
.create-team-container {
  margin: 10px;
  text-align: center;
}
.create-team-text {
  font-size: medium;
}
.create-team-input {
  border: black solid 1px;
  border-radius: 2px;
  width: 100%;
  height: 28px;
}
.create-team-input:focus {
  outline: none;
}
.create-team-submit-container {
  margin: 10px;
}

/*TeamMemberCard.css*/
.team-member-card {
  padding: 10px;
  width: var(--width-team-member-card);
  display: flex;
  height: wrap;
  background-color: white;
  margin: var(--margin-team-member-card);
  box-shadow: var(--border-shadow-card);
  border-radius: var(--border-radius-card);
}

.team-member-card-image-container {
  margin-right: 5px;
}
.team-member-card-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.team-member-card-username-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.team-member-card-username {
  font-size: large;
}

.team-member-card-leave-button-container {
  width: 100%;
  display: flex;
  align-items: center;
}

/*TeamCard.css*/
.team-card {
  margin: 15px;
  width: var(--width-team-card);
}
.team-card-team-name-container {
  display: flex;
  flex: 2;
  border: solid var(--primary-color);
  height: 20px;
  width: 150px;
  font-size: medium;
  color: white;
  background-color: var(--primary-color);
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: var(--border-shadow-card);
}
.team-card-team-name-text {
  display: flex;
  align-items: center;
}
.team-card-team-name-button-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.team-card-team-name-button-container-row {
  width: 100%;
}
.team-card-container {
  display: flex;
  border: solid var(--primary-color) 5px;
  height: wrap;
  box-shadow: var(--border-shadow-card);
  border-radius: var(--border-radius-card);
  height: 100%;
  width: 100%;
}

.team-card-team-name-container:hover .close-team-close-button {
  opacity: 1;
}
.team-card-team-name-container:hover .join-team-add-button {
  opacity: 1;
}

/*CopyRoomCodeView.css*/
.copy-room-code {
  text-align: center;
  margin: 10px;
}
.copy-room-code-text {
  font-size: medium;
}
.copy-room-code-room_id {
  font-size: wrap;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  cursor: pointer;
}
.copy-room-code-menu-item {
  color: white;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
}

.copy-room-code-menu-item:hover {
  background-color: black;
}

/*RoomDetails.css*/
.room-details {
  margin: 10px;
  font-size: 14.5px;
}
.room-details-heading {
  text-align: center;
  font-size: medium;
}
.room-details-section {
  display: flex;
  flex: 2;
}

.room-details-right-section {
  text-align: center;
}

/*CloseRoomView.css*/
.close-room-view {
  margin: 15px;
}
.close-room-view-text {
  font-size: medium;
  text-align: center;
}
.close-room-view-button {
  margin: 10px;
  text-align: center;
}

/*joinTeamView.css*/
.join-team-add-button {
  height: 15px;
  width: 15px;
  float: right;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: 2px;
}

/*CloseTeamView.css*/
.close-team-close-button {
  height: 15px;
  width: 15px;
  float: right;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: 2px;
}
