.room {
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

/*CreateTeamView.css*/
.create-team-container {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-team-input-container {
  margin-right: 5px;
}
.create-team-input {
  border: black solid 1px;
  border-radius: 2px;
  width: 180px;
  height: 28px;
}
.create-team-input:focus {
  outline: none;
}
.create-team-submit-container {
  margin-left: 5px;
}

/*TeamMemberCard.css*/
.team-member-card {
  padding: 10px;
  width: 230px;
  display: flex;
  height: wrap;
  background-color: white;
  margin: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}

.team-member-card-image-container {
  margin-right: 5px;
}
.team-member-card-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.team-member-card-username-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.team-member-card-username {
  font-size: large;
}

.team-member-card-leave-button-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.team-member-card-leave-button-container-row {
  width: 100%;
}
.team-member-card-leave-button {
  opacity: 0;
  height: 20%;
  width: 20%;
  float: right;
  transition-duration: 0.4s;
  cursor: pointer;
}
.team-member-card:hover .team-member-card-leave-button {
  opacity: 1;
}
