.facebook-custom-button {
  border: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5890ff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 250px;
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
  &:focus {
    outline: 0;
  }
  &:active {
    box-shadow: none;
  }
}
