.Lobby {
  position: relative;
}

.section {
  width: var(--side-size-percent-left);
  float: left;
}

.header {
  height: 80px;
}

.left-section {
  /*border: solid black;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 463px;
}

.right-section {
  height: 100%;
  width: var(--side-size-percent-right);
  background-color: lightgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  right: 0;
}

.profile-tab {
  position: relative;
  border-bottom: solid var(--harley-davidson-orange) 5px;
  display: flex;
  flex: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
