@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap'); /* font-family: "Rowdies", cursive */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /*font-family: 'Pacifico', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); /*font-family: 'Do Hyeon', sans-serif;*/

/*Remove all the 'border: solid black;' from the lobby css while production...*/

:root {
  --side-size-percent-left: 80%;
  --side-size-percent-right: calc(100% - var(--side-size-percent-left));
  --side-size: 230px;
  --harley-davidson-orange: #dd2c00;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.front-page {
  width: 90%;
  margin: auto;
}

.header-container {
  display: flex;
  background-color: white;
  color: black;
}

.header-links {
  flex: 2;
}

.header-logo h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
}

.main-button {
  background-color: var(--harley-davidson-orange);
  border: solid 1px var(--harley-davidson-orange);
  color: white;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
  transition: all 0.3s ease-in-out 0s;
}

.main-button:hover {
  background-color: #ffffff;
  color: black;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

.intro-container {
  display: flex;
}

.intro-text {
  margin: auto;
}

.intro-text-heading {
  color: var(--harley-davidson-orange);
}

.intro-text-content {
  color: #636363;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 30px;
}

.intro-separator {
  flex: 2;
}

.intro-image {
  width: 500px;
  height: 500px;
}

.footer-container {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.popup-close-button {
  margin-top: 20px;
}

.popup-close-para {
  margin-bottom: 20px;
}

/*************************************/
/***** CSS for lobby starts here *****/
/*************************************/
.Lobby {
  position: relative;
}

.section {
  width: var(--side-size-percent-left);
  float: left;
}
.header {
  height: 80px;
}
.left-section {
  /*border: solid black;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 463px;
}
.right-section {
  height: 100%;
  width: var(--side-size-percent-right);
  background-color: lightgray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  right: 0;
}

.footer {
  border: solid black;
  height: 72px;
  width: 100%;
}

.game-start-button {
  width: 280px;
  height: 100px;
  background-color: var(--harley-davidson-orange);
  border: 0;
  border-radius: 5px;
  font-size: 200%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: whitesmoke;
  transition-duration: 0.2s;
  font-family: 'Rowdies', cursive;
}

.game-start-button:hover {
  background-color: whitesmoke;
  color: var(--harley-davidson-orange);
  transition-duration: 0.2s;
}

.game-start-button:active {
  box-shadow: 0 0px 0px;
}

.profile-card {
  float: left;
  height: 150px;
  width: 150px;
  text-align: center;
}

.profile-card-picture {
  height: 80px;
  width: 80px;
}

.profile-card-name {
  font-family: 'Rowdies', cursive;
  font-size: large;
}

.sharable-link {
  float: left;
  margin-left: 20px;
}

.sharable-link b {
  font-size: 20px;
}
.sharable-link p {
  border-left: 6px solid red;
  background-color: whitesmoke;
  padding: 8px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.match-link {
  cursor: pointer;
}
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  margin-left: 5px;
}
.match-link:hover .tooltip-text {
  visibility: visible;
}

.profile-button {
  height: 60px;
  width: 60px;
  margin: 10px;
  float: left;
  border-radius: 50%;
  background-image: url('/logo192.png');
  border-style: solid;
}

.profile-popup {
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 5px;
  margin-right: 10px;
}

.profile-tab {
  position: relative;
  border-bottom: solid var(--harley-davidson-orange) 5px;
  display: flex;
  flex: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
