@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* font-family: 'Roboto', sans-serif; */

:root {
  --primary-color: #dd2c00; /* Harley Davidson Orange */
  --log-out: rgb(202, 0, 0); /* Red for logout */
  --sign-in: #b12300; /* Darker primary for sign in */
  --primary-font: 'Roboto', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body > #root > div {
  height: 100vh;
}
