.front-page {
  margin: auto;
  height: 100%;
}

/* Description container head css */
.desc-container-head {
  display: flex;
  padding-top: 120px;
  padding-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: var(--frontpage-bg-light);
  margin: auto;
}

.desc-separator {
  flex: 2;
}

.desc-image {
  width: 600px;
  height: 600px;
  margin: auto;
}

.desc-text-container {
  margin: auto;
}

.desc-heading {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  font-size: 60px;
  font-weight: bold;
}

.desc-text {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}

/* Description container what is coderoyale css */
.desc-container-what {
  padding: 120px 380px;
}

.desc-what {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.desc-what-text {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}

.desc-what-image {
  width: 350px;
  height: 350px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Description container how does it work css */
.desc-container-how {
  display: flex;
  padding: 100px 200px;
  background-color: var(--frontpage-bg-light);
  margin: auto;
}

.desc-how-image {
  width: 500px;
  height: 500px;
  margin: auto;
}

.desc-how {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: bold;
}

.desc-how-text {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  line-height: 2;
  font-size: 20px;
  font-weight: 500;
}

/* Description container sign up now css */
.desc-container-sign-up {
  padding: 100px 380px;
}

.desc-sign-up {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.desc-sign-up-btn {
  margin-top: 25px;
}

/* For span used in description */
.desc-span {
  color: var(--primary-color);
}
