.home-page {
  margin: auto;
  height: 100%;
}

/* Home Body container head css */
.home-body-container-head {
  display: flex;
  padding-top: 120px;
  padding-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: var(--frontpage-bg-light);
  margin: auto;
}

.home-body-separator {
  flex: 2;
}

.home-body-image {
  width: 600px;
  height: 600px;
  margin: auto;
}

.home-body-text-container {
  margin: auto;
}

.home-body-heading {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  font-size: 60px;
  font-weight: bold;
}

.home-body-text {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}

/* Home Body container what is coderoyale css */
.home-body-container-what {
  padding: 120px 380px;
}

.home-body-what {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.home-body-what-text {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}

.home-body-what-image {
  width: 350px;
  height: 350px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Home Body container how does it work css */
.home-body-container-how {
  display: flex;
  padding: 100px 200px;
  background-color: var(--frontpage-bg-light);
  margin: auto;
}

.home-body-how-image {
  width: 500px;
  height: 500px;
  margin: auto;
}

.home-body-how {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: bold;
}

.home-body-how-text {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  line-height: 2;
  font-size: 20px;
  font-weight: 500;
}

/* Home Body container sign up now css */
.home-body-container-sign-up {
  padding: 100px 380px;
}

.home-body-sign-up {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.home-body-sign-up-btn {
  margin-top: 25px;
}

/* For span used in Home Body */
.home-body-span {
  color: var(--primary-color);
}
