.profile-card {
  float: left;
  height: 150px;
  width: 150px;
  text-align: center;
}

.profile-card-picture {
  height: 80px;
  width: 80px;
}

.profile-card-name {
  font-family: 'Rowdies', cursive;
  font-size: large;
}
