.signin-page {
  display: flex;
  margin: auto;
  height: 100%;
  background-color: #f5f8f8;
}

/* Left section css for sign in */
.left-signin-container {
  height: 100%;
  width: 50%;
  background-color: #edb3a4;
}

.left-signin-content {
  padding-top: 20%;
}

.left-signin-title {
  font-weight: bold;
  font-size: 40px;
  color: #6b554f;
}

.left-signin-text {
  font-size: 20px;
  color: #6b554f;
}

/* Sign in secton */
.signin-section-container {
  height: 100%;
  width: 50%;
}

.signin-section-content {
  padding-top: 40%;
}

.signin-section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.signin-section-sign-up {
  margin-top: 15px;
  font-size: 14px;
}

.span-text {
  font-weight: bold;
  cursor: pointer;
  color: brown;
}
