.question-card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 20px;
  width: 88%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ease;
  cursor: pointer;
}

.question-card-container:hover {
  transform: scale(1.05);
}

.question-card-select-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-card-select-indicator-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-card-select-indicator {
  margin-left: 5px;
  background-color: #dd2c00;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: bold;
}

.question-card-number {
  font-family: 'Roboto', sans-serif;
  color: #6e6e6e;
  font-size: 30px;
  font-weight: bold;
}

.question-card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.question-card-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  white-space: pre-line;
}

.question-card-tags {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
